@{
    ViewData["Title"] = "Prochaine fermeture";
    var Pont = Model;
}



<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <h3 class="display-4">Prochaine ouverture du pont Chaban Delmas Prevu :</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nom du bateau/Raison</th>
                <th>Type de fermeture</th>
                <th>Date de fermeture</th>
                <th>Date de reouverture</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Pont.BoatName</td>
                <td>@Pont.ClosingType</td>
                <td>@Pont.ClosingDate</td>
                <td>@Pont.ReopeningDate</td>
            </tr>
        </tbody>
    </table>
</div>
