@{
    ViewData["Title"] = "Prochaine fermeture";
}

@model List<GestionPont>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom du bateau</th>
                <th>Type de fermeture</th>
                <th>Date de fermeture</th>
                <th>Date de reouverture</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Pont in Model)
        {
            <tr>
                <td>@Pont.BoatName</td>
                <td>@Pont.ClosingType</td>
                <td>@Pont.ClosingDate</td>
                <td>@Pont.ReopeningDate</td>
            </tr>
        }
        </tbody>
    </table>
</div>
